body {
font-family: copperplate;
margin: 0;
}
header {
   height: 160px;
   background-image: url("pexels-rahul-695644%20(2).jpg");}
h1 {
  text-intent: -9999px;
  width: 940px;
  height: 130px;
  margin: 0px;}
